.background {
  z-index: 10;
}

$particleSize: 7.5vmin;
$animationDuration: 6s;
$amount: 12;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #E8C547,
    #ffffff,
    #FFACAC
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(80) * 1%;
      left: random(80) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 0.8vw (random(50) - 25) * 0.8vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.typewriter-effect {
    width: 0;
    z-index: 20;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1rem solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
        typing 3s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  .typewriter-effect-2 {
    z-index: 20;
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1rem solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
        typing 3s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }

  .appear {
      z-index: 20;
      opacity: 0;
      animation: appear 1.5s;
      animation-delay: 7s;
      animation-fill-mode: forwards;
  }

  @keyframes appear {
      from { opacity: 0 }
      to { opacity: 100 }
  }

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    99% { border-right-width: .1rem }
    to { 
        width: 100%;
        border-right-width: 0;
     }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #E8C547};
  }

    /* The typewriter cursor effect */
    @keyframes blink-caret2 {
        from, to { border-color: '#E8C547' }
        50% { border-color: transparent};
      }